@import "./mixin";
@import "./reset";
@import "./variables";

a {
  text-decoration: none;
  color: $bgblack;
}
.head {
  padding: 28px 165px;
}
.header {
  @include flex($gap: 260px);

  &__logo {
    width: 169px;
  }

  &__btn {
    background-color: $bgblack;
    padding: 12px 24px;

    &--btn {
      @include btn;
    }
  }
}

.nav {
  @include flex($gap: 37px);
  color: $bgblack;
  font-size: $fss;
  font-weight: $fwgh
}

.cont {
  @include flex;
  background-color: $bgblack;

  &__left {
    width: 387px;
    color: $primary;
    margin: 0 auto;

    &--title {
      font-size: $fslg;
      font-weight: $fwgh;
      line-height: 48PX;
    }

    &--text {
      font-size: $fsm;
      margin-top: 21px;
      margin-bottom: 48px;
      line-height: 25PX
    }

    &--btn {
      @include btn;
    }
  }

  &__right {
    width: 830px;
  }
}

img {
  width: 100%;
  height: 100%;
}
